---
{{ ansible_managed | comment }}

{% if walg_aws_combine | length > 0 %}
# AWS S3 setup
{%   for key, value in walg_aws_combine.items() %}
{{      key | upper }}: {{ (value | int) if value in (0, "0") or (value | int) != 0 else ('"' + (value | string) +  '"') }}
{%   endfor %}
{% endif %}
{% if walg_azure_combine | length > 0 %}
# Azure Storage setup
{%   for key, value in walg_azure_combine.items() %}
{{      key | upper }}: {{ (value | int) if value in (0, "0") or (value | int) != 0 else ('"' + (value | string) +  '"') }}
{%   endfor %}
{% endif %}
{% if walg_gcs_combine | length > 0 %}
# Google Cloud Storage setup
{%   for key, value in walg_gcs_combine.items() %}
{{      key | upper }}: {{ (value | int) if value in (0, "0") or (value | int) != 0 else ('"' + (value | string) +  '"') }}
{%   endfor %}
{% endif %}
{% if walg_swift_combine | length > 0 %}
# Swift object storage setup
{%   for key, value in walg_swift_combine.items() %}
{{     key | upper }}: {{ (value | int) if value in (0, "0") or (value | int) != 0 else ('"' + (value | string) +  '"') }}
{%   endfor %}
{% endif %}
{% if walg_filesystem_combine | length > 0 %}
# Backups on filesystem setup
{%   for key, value in walg_filesystem_combine.items() %}
{{     key | upper }}: {{ (value | int) if value in (0, "0") or (value | int) != 0 else ('"' + (value | string) +  '"') }}
{%   endfor %}
{% endif %}

{% if walg_mongodb_combine | length > 0 %}
# MongoDB setup
{%   for key, value in walg_mongodb_combine.items() %}
{{     key | upper }}: {{ (value | int) if value in (0, "0") or (value | int) != 0 else ('"' + (value | string) +  '"') }}
{%   endfor %}
{% endif %}
{% if walg_mysql_combine | length > 0 %}
# MySQL setup
{%   for key, value in walg_mysql_combine.items() %}
{{     key | upper }}: {{ (value | int) if value in (0, "0") or (value | int) != 0 else ('"' + (value | string) +  '"') }}
{%   endfor %}
{% endif %}
{% if walg_postgresql_combine | length > 0 %}
# PostgreSQL setup
{%   for key, value in walg_postgresql_combine.items() %}
{{     key | upper }}: {{ (value | int) if value in (0, "0") or (value | int) != 0 else ('"' + (value | string) +  '"') }}
{%   endfor %}
{% endif %}

{% if walg_failover_storages %}
# Failover setup
{%   for key, value in walg_failover_storages_combine.items() %}
{%     if key != "walg_failover_storages" %}
{{       key | upper }}: {{ (value | int) if value in (0, "0") or (value | int) != 0 else ('"' + (value | string) +  '"') }}
{%     endif %}
{%   endfor %}
WALG_FAILOVER_STORAGES:
{%   for storage_name, storage_config in walg_failover_storages_combine.walg_failover_storages.items() %}
  {{ storage_name | upper }}:
{%  for key, value in storage_config.items() %}
    {{   key | upper }}: {{ (value | int) if value in (0, "0") or (value | int) != 0 else ('"' + (value | string) +  '"') }}
{%  endfor %}
{%   endfor %}
{% endif %}

{% if walg_statsd_combine %}
# Statsd setup
WALG_STATSD_ADDRESS: {{ walg_statsd_combine.walg_statsd_address }}
{%   if walg_statsd_combine.walg_statsd_extra_tags %}
WALG_STATSD_EXTRA_TAGS:
{%     for key, value in walg_statsd_extra_tags.items() %}
  {{ key }}: {{ (value | int) if value in (0, "0") or (value | int) != 0 else ('"' + (value | string) +  '"') }}
{%     endfor %}
{%   endif %}
{% endif %}

{% if walg_common_combine | length > 0 %}
# Wal-G setup
{%   for key, value in walg_common_combine.items() %}
{{     key | upper }}: {{ (value | int) if value in (0, "0") or (value | int) != 0 else ('"' + (value | string) +  '"') }}
{%   endfor %}
{% endif %}
