{{ ansible_managed | comment }}

{% if walg_aws_combine %}
# AWS S3 setup
{%   for key, val in walg_aws_combine.items() %}
{{     key | upper }}={{ val }}
{%   endfor %}
{% endif %}
{% if walg_azure_combine %}
# Azure Storage setup
{%   for key, val in walg_azure_combine.items() %}
{{     key | upper }}={{ val }}
{%   endfor %}
{% endif %}
{% if walg_gcs_combine %}
# Google Cloud Storage setup
{%   for key, val in walg_gcs_combine.items() %}
{{     key | upper }}={{ val }}
{%   endfor %}
{% endif %}
{% if walg_swift_combine %}
# Swift object storage setup
{%   for key, val in walg_swift_combine.items() %}
{{     key | upper }}={{ val }}
{%   endfor %}
{% endif %}
{% if walg_filesystem_combine %}
# Backups on filesystem setup
{%   for key, val in walg_filesystem_combine.items() %}
{{     key | upper }}={{ val }}
{%   endfor %}
{% endif %}

{% if walg_mongodb_combine %}
# MongoDB setup
{%   for key, val in walg_mongodb_combine.items() %}
{{     key | upper }}={{ val }}
{%   endfor %}
{% endif %}
{% if walg_mysql_combine %}
# MySQL setup
{%   for key, val in walg_mysql_combine.items() %}
{{     key | upper }}={{ val }}
{%   endfor %}
{% endif %}
{% if walg_postgresql_combine %}
# PostgreSQL setup
{%   for key, val in walg_postgresql_combine.items() %}
{{     key | upper }}={{ val }}
{%   endfor %}
{% endif %}

{% if walg_statsd_combine %}
# Statsd setup
WALG_STATSD_ADDRESS={{ walg_statsd_combine.walg_statsd_address }}
{%   if walg_statsd_combine.walg_statsd_extra_tags %}
WALG_STATSD_EXTRA_TAGS=map[{{ walg_statsd_extra_tags.items() | map('join', ':') | join(',') }}]
{%   endif %}
{% endif %}

{% if walg_common_combine %}
# Wal-G setup
{%   for key, val in walg_common_combine.items() %}
{{     key | upper }}={{ val }}
{%   endfor %}
{% endif %}
